@page "/tasks"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Tarefas - TaskFlow</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Minhas Tarefas</h2>
            <p>Gerencie suas tarefas aqui</p>
            
            <div class="alert alert-info">
                <strong>Funcionalidade em desenvolvimento</strong><br>
                Esta página será implementada em breve para exibir e gerenciar suas tarefas.
            </div>
            
            <div class="mt-3">
                <button class="btn btn-primary">Nova Tarefa</button>
                <button class="btn btn-secondary ms-2">Filtros</button>
            </div>
        </div>
    </div>
</div>
